.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo {
  margin-bottom: 60px;
}
.title {
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.15;
}
.button {
  margin: 10px;
  font-size: 30px;
}
